* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #020A18;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1146px;
    margin: 0 auto;
}

.header {
    margin-bottom: 160px;
}

.nav {
    display: flex;
    justify-content: center;
}

.header-link {
    color: #FFF;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 600;
    padding: 39px 16px;
}

.header-link:hover {
    color: #3A68B8;
}

.top {
    margin-bottom: 197px;
}

.top-container {
    gap: 128px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-left{
    max-width: 604px;
}

.subtitle {
    color: #3A68B8;
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.title {
    color: #FFF;
    font-family: 'Open Sans';
    font-size: 55px;
    font-weight: 800;
    line-height: 130%;
    margin-bottom: 40px;
}

.dsc {
    color: #FFF;
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 600;
    line-height: 160%;
    opacity: 0.7;
    margin-bottom: 50px;
    max-width: 558px;
}

.top-buttons {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

}

.button-link {
    padding: 1rem 2rem;
    background-color: #3A68B8;
    color: #FFF;
    border-radius: 5px;
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: 600;
}

.logos {
    margin-bottom: 256px;

}

.logo-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.learning {
    margin-bottom: 264px;
}

.learn-container {
    gap: 68px;
}

.info-title {
    color: #FFF;
    font-family: 'Open Sans';
    font-size: 40px;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 30px;
}

.feature {
    margin-bottom: 243px;
}

.flex-column {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.group-blocks {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.block {
    border-radius: 10px;
    background: #132035;
}

.block-content {
    text-align: center;
    margin: 0 30px;
}

.ico {
    margin: 30px 102px;
}

.big-ico {
    margin: 30px 194px 60px;
}

.f-title {
    color: #FFF;
    font-family: 'Open Sans';
    font-size: 25px;
    font-weight: 700;
    line-height: 125%;
    max-width: 302px;
    opacity: 0.7;
    margin-bottom: 30px;
}

.f-text {
    color: #FFF;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 600;
    line-height: 160%;
    max-width: 302px;
    opacity: 0.7;
    margin-bottom: 30px;
}

.big-title {
    max-width: 694px;
    margin-bottom: 60px;
}

.big-text {
    max-width: 694px;
    margin-bottom: 144px;
}

.about {
    margin-bottom: 221px;
}

.about-container {
    justify-content: space-between;
}

.about-block {
    max-width: 548px;
    justify-content: center;
    padding: 14px 0;
}

.about-title {
    color: #FFF;
    font-family: 'Open Sans';
    font-size: 40px;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 40px;
}

.about-content {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    gap: 20px;
}

.about-text {
    max-width: 460px;
    color: #FFF;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 600;
    line-height: 160%;
    opacity: 0.7;
}

.footer-container {
    margin: 48px auto 46px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-block {
    min-width: 360px;
}

.footer-title {
    color: #FFF;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 33px;
}

.footer-information {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.foot-info-line {
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    display: flex;
}

.footer-info-text {
    margin-left: 10px;
}

.footer-about-left {
    max-width: 261px;
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-style: italic;
    font-weight: 100;
    opacity: 0.6;
}

.footer-about-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.footer-about-right-text {
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
}

.footer-right-ico {
    display: flex;
    align-items: flex-start;
    gap: 24px;
    opacity: 0.6;
}

@media (max-width: 850px) {
    .container {
        max-width: 768px;
    }

    .flex {
        flex-wrap: wrap;
    }

    .top-left {
        max-width: 604px;
    }

    .subtitle {
        font-size: 16px;
    }

    .title {
        font-size: 48px;
    }

    .logos {
        margin-bottom: 277px;
    }

    .logo-container {
        justify-content: center;
        gap: 32px;
        padding: 0 15%;
    }

    .learning-info {
        max-width: 484px;
    }

    .group-blocks {
        gap: 32px;
        justify-content: center;
        /* flex-direction: column; */
        padding: 0 15%;
    }

    .block-bottom {
        display: none;
    }

    .about-container {
        gap: 64px;
        justify-content: center;
    }

    .about-block {
        padding: 0;
    }

    .footer-container {
        flex-wrap: wrap;
        gap: 30px;
    }
}

@media (max-width: 376px) {
    .container {
        max-width: 375px;
    }

    .header {
        margin-bottom: 64px;
    }

    .header-link {
        font-size: 14px;
        padding: 39px 8px;
    }

    .top {
        margin-bottom: 128px;
    }

    .top-left {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .subtitle {
        font-size: 14px;
        text-align: center;
    }

    .title {
        font-size: 28px;
        text-align: center;
    }

    .dsc {
        text-align: center;
        max-width: 343px;
    }

    .top-dsc {
        margin-bottom: 39px;
    }

    .top-buttons {
        justify-content: center;
    }

    .top-right-img {
        width: 343px;
        height: 344px;
    }

    .logos {
        margin-bottom: 204px;
    }

    .learning {
        margin-bottom: 98px;
    }

    .learning-img {
        width: 342px;
        height: 316px;
    }

    .learning-info {
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-items: center;
    }

    .info-title {
        font-size: 24px;
        text-align: center;
        margin-bottom: 0;
    }

    .learning-dsc {
        margin-bottom: 0;
        font-size: 16px;
    }

    .learning-button-box {
        display: flex;
    }

    .feature {
        padding: 0;
        margin-bottom: 96px;
    }

    .about {
        margin-bottom: 209px;
    }

    .about-container {
        margin-bottom: 32px;
        gap: 32px;
    }

    .about-block {
        max-width: 342.75px;
        gap: 16px;
    }

    .about-title {
        font-size: 24px;
        margin-bottom: 0;
        text-align: center;
    }

    .about-content {
        gap: 16px;
    }

    .about-text {
        max-width: 343px;
        text-align: center;
    }

    .about-pick {
        max-width: 342px;
        max-height: 294px;
    }

    .footer {
        margin-bottom: 64px;
    }

    .footer-container {
        padding: 0;
        margin: 0;
        gap: 32px;
        justify-content: center;
    }

    .footer-block {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-title {
        margin: 0;
        margin-bottom: 32px;
        text-align: center;
    }

    .footer-information {
        align-items: center;
    }

    .fb2 {
        order: -1;
    }

    .footer-about-left {
        text-align: center;
    }
}

