* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.header {
    margin: 40px 375px 84px;
    width: 1170px;
    display: flex;
    gap: 500px;

}

.header__menu {
    color: #000;
    font-family: Gilroy-Medium;
    font-size: 14px;
    font-weight: 400;
    width: 533px;
    display: flex;
    justify-content: space-between;
}

.home {
    color: #F25822;
    font-family: Gilroy-SemiBold;
}

.content {
    padding-bottom: 162px;
    display: flex;
    gap: 41px;
}

.content__info {
    margin-bottom: 17px;
    margin-left: 373px;
    width: 522px;
}

.content__buttons {
    margin-top: 37px;
    width: 302px;
    display: flex;
    gap: 72px;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-weight: 400;
}

.frame__start {
    width: 140px;
    height: 50px;
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    display: flex;
    justify-content: center;
    align-items: center;
}

.start__button {
    color: #FFF;
    width: 140px;
    height: 50px;
}

.watch__button {
    color: #AAA;
}

.title {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 60px;
    font-weight: 400;
    margin-bottom: 17px;
}

.info__text {
    color: #888;
    font-family: Gilroy-Medium;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 37px;
}

.footer {
    margin: 97px 345px 96px 375px;
    display: flex;
    justify-content: space-between;
    gap: 48px;
}