* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.header {
    margin: 40px auto 84px;
    width: 1170px;
    display: flex;
    gap: 500px;
    justify-content: center;
}

.header__menu {
    color: #000;
    font-family: Gilroy-Medium;
    font-size: 14px;
    font-weight: 400;
    width: 533px;
    display: flex;
    justify-content: space-between;
}

.home {
    color: #F25822;
    font-family: Gilroy-SemiBold;
}

.content {
    padding-bottom: 162px;
    display: flex;
    gap: 41px;
    justify-content: center;
}

.content__info {
    width: 522px;
}

.content__buttons {
    margin-top: 37px;
    width: 302px;
    display: flex;
    gap: 72px;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-weight: 400;
}

.frame__button {
    width: 140px;
    height: 50px;
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    display: flex;
    justify-content: center;
    align-items: center;
}

.orange__button {
    color: #FFF;
    width: 140px;
    height: 50px;
}

.watch__button {
    color: #AAA;
}

.title {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 60px;
    font-weight: 400;
    margin-bottom: 17px;
}

.info__text {
    color: #888;
    font-family: Gilroy-Medium;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 37px;
}

.brand__box {
    width: 1200px;
    margin: 97px auto 96px;
    display: flex;
    justify-content: space-between;
    gap: 48px;
}

.features {
    padding: 100px 0;
    display: flex;
    justify-content: center;
    gap: 30px;
    background: #FFF;
}

.features__item {
    padding-left: 30px;
    background: #FFF;
    box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
    padding-bottom: 25px;
}

.feature__ico {
    margin-top: 40px;
    margin-bottom: 25px;
}

.feature__title {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 17px;
}

.feature__text {
    width: 310px;
    color: #666;
    font-family: Gilroy-Regular;
    font-size: 15px;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 25px;
}

.feature__link {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 11px;
    font-weight: 400;
    line-height: 150%;
}

.services {
    background: #FAFAFA;
    padding-bottom: 100px;
    padding-top: 92px;
}

.services__head {
    width: 682px;
    margin: 0 auto 55px;
    display: grid;
    justify-items: center;
    gap: 19px;
}

.services__title {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 45px;
    font-weight: 400;
}

.services__text {
    color: #666;
    text-align: center;
    font-family: Gilroy-Regular;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}

.services__options {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.services__block {
    background: #FFF;
    box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.10);
    width: 370px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.services__block__title {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 22px;
}

.services__block__text {
    width: 310px;
    color: #AAA;
    text-align: center;
    font-family: Gilroy-Regular;
    font-size: 15px;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 39px;
}

.services__link {
    width: 150px;
    height: 50px;
    position: relative;
}

.services__button {
    position: absolute;
}

.sb-text {
    position: absolute;
    top: 15px;
    left: 46px;
    color: #FFF;
    text-align: center;
    font-family: Gilroy-Bold;
    font-size: 13px;
    font-weight: 400;
    line-height: 150%;
}