/* #region Head */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

/* #endregion Head */

.head__center {
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
}

/* #region Nav */
.header {
    background-color: #222;
    height: 75px;
    display: flex;
    justify-content: center;
    gap: 859px;
    align-items: center;
}

.header__logo {
    display: flex;
    gap: 41px;
}

/* #endregion Nav */

/* #region Preview */
.preview {
    background-color: #F1E4E6;
    display: grid;
    grid-template-columns: repeat(2, 800px);
    justify-items: start;
    margin-bottom: 65px;
}

.preview__text__box {
    display: flex;
    gap: 16px;
    padding-top: 290px;
    padding-left: 63.42px;
}

.preview__text {
    color: #222;
    width: 377px;
    font-size: 32px;
    font-weight: 700;
}

.big__text {
    font-size: 48px;
    font-weight: 900;
}

.red__text {
    color: #F16D7F;
}

/* #endregion Preview */

.main__center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

/* #region Offer */
.offer {
    display: grid;
    grid-template: repeat(2, 1fr) / fr;
    gap: 30px;
    box-sizing: border-box;
    padding-bottom: 96px;
}

.offer__item {
    position: relative;
    min-width: 360px;
    min-height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.offer__big {
    grid-area: 2 / 1 / span 1 / span 3;
    min-width: 1140px;
    min-height: 180px;
}

.offer__img {
    position: absolute;
}

.rectangle {
    background-color: rgba(33, 22, 22, 0.70);
    width: 360px;
    height: 260px;
    position: absolute;
}

.rectangle__big {
    width: 1140px;
    height: 180px;
}

.offer__text {
    position: absolute;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.offer__text__red {
    color: #F16D7F;
    font-size: 24px;
    font-weight: 700;
}

/* #endregion Offer */

/* #region Products */
.products {
    padding-bottom: 60px;
}

.products__title {
    padding-bottom: 6px;
    color: #222;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}

.products__text {
    padding-bottom: 48px;
    color: #9F9F9F;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

.products__box {
    padding-bottom: 48px;
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    justify-items: center;
    gap: 30px;
}

.products__item2__rectangle {
    background-color: #F7E4E2;
    width: 360px;
    height: 420px;
}

.products__img__2 {
    display: block;
    margin: auto;
    padding-top: 9px;
}

.products__text__box {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 24px 16px;
}

.products__item__title {
    color: #000;
    font-size: 13px;
    font-weight: 400;
}

.products__item__text {
    width: 314.743px;
    color: #5D5D5D;
    font-size: 14px;
    font-weight: 300;
}

.item__price {
    color: #F16D7F;
    font-size: 16px;
    font-weight: 400;
}

.products__button {
    display: block;
    margin: auto;
    width: 212px;
    height: 48px;
    border: 1px solid #FF6A6A;
}

.button__text {
    margin: auto auto;
    color: #F26376;
    font-size: 16px;
    font-weight: 400;
}

/* #endregion Products */