/* #region global */
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    font-family: Lato;
}

.center {
    padding-left: calc(50vw - 600px);
    padding-right: calc(50vw - 600px);
}

/* #endregion global */

/* #region header */
.header {
    min-height: 75px;
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

.menu div {
    display: flex;
    align-items: end;
    gap: 41px;
}

/* #endregion header */

/* #region banner */
.banner {
    background-color: #F1E4E6;
}

.banner__content {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.banner__content div {
    width: 50%;
}

.banner__left {
    display: flex;
    justify-content: end;
}

.banner__right {
    display: flex;
    justify-content: start;
}

.banner__tagline {
    display: flex;
    align-items: center;
}

.banner__text__box {
    padding-left: 12.5%;
    display: flex;
    gap: 16px;
}

.banner__text {
    min-width: 377px;
    display: flex;
}

.banner__text h1 {
    color: #222;
    font-size: 32px;
    font-weight: 700;
}

.banner__text b {
    font-size: 48px;
    font-weight: 900;
}

.banner__text span {
    color: #F16D7F;
    font-size: 32px;
    font-weight: 700;
}

/* #endregion banner */

/* #region offer */

/* #endregion offer */


