* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.header {
    margin-top: 45px;
    margin-bottom: 89px;
}

.content {
    padding-bottom: 162px;
}

.content__info {
    margin-bottom: 17px;
}

.content__buttons {
    margin-top: 37px;
}

.footer {
    margin-top: 97px;
    margin-bottom: 96px;
}